@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

#tsparticlesintropage {
  height: 100vh;
  width: 100vw;
  position: absolute;
}

#tsparticlesskillspage {
  height: 100vh;
  width: 100vw;
  top: 100vh;
  position: absolute;
}
